@import url(./normalize.css);

body {
    background: url(../images/background.png);
    background-size: 100%;
    font-family: 'Gilam', sans-serif;
}

.global-wrapper {
    width: 1066px;
    margin: auto;
}

a {
    text-decoration: none;
}

.contacts,
.main-text,
.footer-text {
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
}

.header-container {
    display: flex;
    margin: 51px 0 22px 0;
    height: 60px;
}

.logo-image {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    align-self: center;
    height: 49px;
    width: 55px;
    transition: all .3s ease;
}

.span-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
}

.contacts-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.contacts,
.main-text,
.footer-text {
    font-weight: 400;
    text-transform: lowercase;
}

.main-text,
.footer-text {
    text-transform: none;
}

.gallery-card > a > img{
    width: 300px;
    height: 220px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 13px;
}

.gallery-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 37px;
}

.footer {
    text-align: center;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 12px;
}

.logo-text-link {
    margin: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .3s ease;
}

.logo-text-milan {
    font-weight: 700;
    font-size: 29px;
}

.logo-text-holidays {
    font-weight: 400;
    font-size: 18px;
}

.logo-container {
    display: flex;
}

.gallery-image {
    box-sizing: border-box;
    width: 300px;
    height: 220px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, white,black) 1 100%;
}

.logo-container:hover .logo-text-link {
    color: #F26522;
    transition: all .3s ease;
}

.logo-container:hover .logo-image {
    background: url(../images/logo2.png) no-repeat;
    transition: all .3s ease;
}

.contacts {
    transition: all .3s ease;
}

.contacts:hover {
    color: #F26522;
    transition: all .3s ease;
}

.image-and-hover-el-wrapper {
    width: 300px;
    height: 220px;
    overflow: hidden;
}

.hover-element {
    position: relative;
    height: 0;
    width: 298px;
    background-color: #F26522;
    transition: all .8s ease-in-out;
}

.gallery-card:hover .hover-element {
    transform: translate(1px, -59px);
    transition: all .6s ease-in-out;
    height: 55px;
    width: 298px;
}

.gallery-card:hover .hover-fifty {
    opacity: 1;
    transition: .6s;
}
.gallery-card:hover .hover-view-details {
    opacity: 1;
    transition: .6s;
}

.main-text {
    transition: all .4s ease;
}

.gallery-card:hover .main-text {
    color: #F26522;
    transition: all .3s ease;
}

.hover-from {
    font-size: 10px;
    font-weight: 400;
    color: white;
    position: absolute;
    top: 7px;
    left: 16px;
}

.hover-fifty {
    font-size: 20px;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 12px;
    left: 14px;
    opacity: 0;
    transition: .6s;
}

.hover-view-details {
    font-size: 14px;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: 12px;
    right: 37px;
    opacity: 0;
    transition: .6s;
}

.hover-view-details::after {
    content: url(../images/vector.png);
    position: absolute;
    bottom: -1.7px;
    right: -22px;
    transition: .6s;
}


